* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}


.header {
  background-color:burlywood;
  color: darkgreen;
  padding: 30px;
}
#rayan {
  display: inline;
  font-size: 40px;
}
.header nav ul {
  display: flex;
  flex-direction: row-reverse;
  justify-content:right;
  align-items: end;
}
.header nav ul li {
  float: right;
  display: inline;
  padding: 10px;
  font-size: 20px;
}

.list {
  float: right;
  display: inline;
  padding: 15px;
  position: relative;
  font-size: 25px;
}

.page-wrapper {
background-color:rgb(253, 233, 203);
text-align: center;
color: darkgreen;
}

.page-section-work {
  display: grid;
  grid-template-columns:repeat(2, 1fr); 
  grid-template-rows:repeat(2, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  grid-template-areas: 
  "div div"
  "div div";
}

@media screen and (min-width:700px) {
  .page-section-work {
    display: grid;
    grid-template-columns:repeat(2, 1fr); 
    grid-template-rows:repeat(2, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    grid-template-areas: 
  "div div"
  "div div";
  }
}

.image:hover {
  transform:scale(1.25);
}

.image {
  border-radius: 20px;   
  border: 1px solid black;
  transition: transform .2s;
}


h1
h2
h3
{
  padding: 10px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2 {
  font-size: 40px;
  text-decoration: underline;
}
h3 {
  font-size: 30px;
}
p {
  padding: 5px;
}

section {
  padding: 30px;
}

.column {
  display: flex;
  height: 100%;
  width: 100%;
  margin: auto;
}
form {
  margin: auto;
  padding: 15px;
}
label, input {
display: block;
}
input {
  width: 100%;
}

input[type=submit] {
  background-color: darkgreen;
  color: blanchedalmond;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

footer {
  background-color: burlywood;
  color: darkgreen;
  padding: 30px;
  text-align: center;
  font-size: 25px;
}
